Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

AnsðŸ‘‰ MongoDB is a open-source NoSQL based document orinted databases, that is designed to store flexbille complex data, JSON document which makes it easy to 
integrate with web and mobile application.
no-relation databases also known as NoSQL databases that is store data as key value , document oriented that is easy control and store complex data at a time.
when we need to handle big data, high scablity, complex data and its also allow to add more server to your databases which is help to scale our database without inerption where we use MongoDB SQL databases.

Q2. State and Explain the features of MongoDB.

AnsðŸ‘‰
The features of MongoDB is:
    1. Document Oriented data model : MongoDB store data in flexible and JSON document. this make it easy to work with data and integrate with mobile and web applicaion.
    2. Scabality : MongoDB is highly scable it can handle large amount of unstractured data 
    3. Highly availabily and fault tolerence: if your one server down in your cluster then you can still access databases and run normally.
    4. id : its provide unique id which is helpful to optamize your queries for fast retrivel and for searching
    5. security : its provides security like authentication access control and encryption for secure data.
    6. Easy integration : MongoDB can easily integrate with the modern appliction and tool

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [60]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pelupa:Ravi1327@cluster0.rburyx6.mongodb.net/?retryWrites=true&w=majority")
db = client["database"]
collection = db["mycollection"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [59]:
data = [{"name" : "ravi prakash", "role" : "employe"},
        {"name" : "shashi prakash", "role" : "employe"},
        {"name" : "prakash", "role" : "student"},
         {"name" : "prakash kumar", "role" : "student"}
       ]
collection.insert_many(data)

In [62]:
# using find()
for i in collection.find():
    print(i)

{'_id': ObjectId('63f510b855bb5978ba92668b'), 'name': 'ravi prakash', 'role': 'employe'}
{'_id': ObjectId('63f510b855bb5978ba92668c'), 'name': 'shashi prakash', 'role': 'employe'}
{'_id': ObjectId('63f510b855bb5978ba92668d'), 'name': 'prakash', 'role': 'student'}
{'_id': ObjectId('63f510b855bb5978ba92668e'), 'name': 'prakash kumar', 'role': 'student'}

In [61]:
# using find_one()
collection.find_one()

{'_id': ObjectId('63f510b855bb5978ba92668b'),
 'name': 'ravi prakash',
 'role': 'employe'}

Q5 Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [63]:
# when we need to any query we simply put the name which we need to specific query
# code
collection.find({"role" : "student"})
# and when we need to print this output then use loop
for i in collection.find({"role" : "student"}):
    print(i)

{'_id': ObjectId('63f510b855bb5978ba92668d'), 'name': 'prakash', 'role': 'student'}
{'_id': ObjectId('63f510b855bb5978ba92668e'), 'name': 'prakash kumar', 'role': 'student'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

AnsðŸ‘‰ sort() method is used to sort the document in a collection based which takes a argument as object that specifies the the field to sort order 
in this `1` is takes as ascending order and `-1` is takes as descending order

In [64]:
# Example 
# to demonstrate sorting method we take data as
detail = [
    { 'name': "Ravi", 'age': 20, 'marks': 85 },
    { 'name': "shashi", 'age': 22, 'marks': 90 },
    { 'name': "Prakash", 'age': 19, 'marks': 80 }
]
collection.insert_many(detail)
# now using sort() method

In [67]:
for i in collection.find().sort([['marks', -1]]):
    print(i)

{'_id': ObjectId('63f510d855bb5978ba926691'), 'name': 'shashi', 'age': 22, 'marks': 90}
{'_id': ObjectId('63f510d855bb5978ba926690'), 'name': 'Ravi', 'age': 20, 'marks': 85}
{'_id': ObjectId('63f510d855bb5978ba926692'), 'name': 'Prakash', 'age': 19, 'marks': 80}
{'_id': ObjectId('63f510b855bb5978ba92668b'), 'name': 'ravi prakash', 'role': 'employe'}
{'_id': ObjectId('63f510b855bb5978ba92668c'), 'name': 'shashi prakash', 'role': 'employe'}
{'_id': ObjectId('63f510b855bb5978ba92668d'), 'name': 'prakash', 'role': 'student'}
{'_id': ObjectId('63f510b855bb5978ba92668e'), 'name': 'prakash kumar', 'role': 'student'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [57]:
# when we need to delete one query then use delete_one()
collection.delete_one({"name": "Ravi"})
# when we need to delete many query then use delete_many()
collection.delete_many({"name": "Ravi", "name": "shashi", "name": "Prakash"})
# when we need to delete a full collecton the use drop()
collection.drop()

In [58]:
for i in collection.find():
    print(i)